/*--- Welcome section ---*/

.welcome-section {
    background-color: #031383;
}

.title-welcome {
    margin-top: 8rem;
    margin-bottom: 1rem;
}

@media (max-width: 992px) {

    .welcome-section {
        padding-left: 1rem;
        padding-right: 1rem;
    }

}

@media (max-width: 768px) {

    .title-welcome {
        margin-bottom: 2rem;
        font-size: 2rem;
    }

}

/*--- Features section ---*/

#section-features {
    padding-top: 2rem;
    padding-bottom: 8rem;
}

.card-style {
    padding: 2rem;
}

@media (max-width: 768px) {

    #section-features {
        padding-top: 3rem;
        padding-bottom: 4rem;
    }

    .card-style {
        border: none;
    }

}

/*--- Funding opportunities section ---*/

.table-text {
    padding-left: 0!important;
    font-family: 'Raleway', sans-serif;
}

.highlighted-text {
    background: linear-gradient(to right, #5481E4 0%, #37D0DD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

hr {
   border-top: 1px solid #191b1d;
}

/*--- Speakers section ---*/

#section-speakers {
    /*--- padding-top: 6rem; ---*/
    padding-bottom: 2rem;
}

.speakers-wrapper {
    padding-right: 30px;
    padding-left: 15px;
}

@media (max-width: 768px) {

    #section-speakers {
        /*--- padding-top: 4rem; ---*/
        padding-bottom: 0;
    }

    .speakers-wrapper {
        padding-right: 15px;
    }

    .card-title {
        font-size: 0.9rem;
    }

    .card-text {
        font-size: 0.8rem;
    }

}

@media (max-width: 576px) {

    .card-title {
        font-size: 0.7rem;
    }

    .card-text {
        font-size: 0.5rem;
    }

}

/*--- Experts sections ---*/

#section-experts {
    padding-top: 5rem;
    padding-bottom: 4rem;
}

.experts-list-item {
    margin-bottom: 0.75rem;
    padding-left: 1.5rem;
    list-style: none;
    position: relative;
}

.experts-list-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 15px;
    height: 15px;
    background: url(../content/img/check.svg);
}

@media (max-width: 768px) {

    #section-experts {
        padding-top: 5rem;
        padding-bottom: 2rem;
    }

}

/*--- Partners sections ---*/

#section-partners {
    padding-top: 3rem;
    padding-bottom: 8rem;
}

.slick-track{
    display: flex;
}

.slick-slide {
    margin-bottom: 1rem;
    padding-right: 1.5rem;
    outline: none;
    display: flex!important;
    height: auto;
    align-items: center;
    justify-content: center;
}

.logo-wrapper {
    margin-bottom: 1rem;
}

@media (max-width: 768px) {

    #section-partners {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

}

/*--- FAQ sections ---*/

#section-faq {
    padding-top: 5rem;
    padding-bottom: 7rem;
    background-color: #fcfcfc;
}


@media (max-width: 768px) {

    #section-faq {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

#newsletter{
  width: inherit;
  border: 2px solid #f40654;
  height: 60px;
  color: white;
  background-color: #00008b;
  padding: 15px 25px;
}


.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.rotate.down {
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}


.bcontainer {
  position: relative;
  width: 50%;
  margin: 0 auto;
}

.bimage {
  opacity: 1;
  display: block;
  justify-content: space-around;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 10px;
}

.bmiddle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.bcontainer:hover .bimage {
  opacity: 0.3;
  background-color: white;
}

.bcontainer:hover .bmiddle {
  opacity: 1;
}

.btext {
  background-color: white;
  opacity: 0.9;
  border-radius: 10px;
  color:#f40654;
  font-size: 15px;
  padding: 2px 3px;
}

.grow {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color:white;
  border-radius: 15px;
  box-shadow: 2px 1px 20px 10px #f40654;
  padding-left: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Create four equal columns that sits next to each other */
.gcolumn {
  flex: 25%;
  max-width: 25%;
  margin: 6px 6px;
}

.gcolumn img {
  margin-top: 4px;
  vertical-align: middle;
  width: 100%;
  padding: 5px 3px;
  display: flex;
  justify-content: space-around;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}


#section-strategic-partners .bcontainer {
    height: 100px;
    margin-bottom: 0px;
}

#section-strategic-partners .bcontainer img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}